@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter", sans-serif;
  background: #fafafa;
  color: #0f0f0f;
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

::selection {
  background: rgba(100, 86, 230, 0.3);
}
